@use '../4-abstracts/variables';
@use '../4-abstracts/medias';

.btn-buy{
    color: #fff;
    padding: 1.2rem 1.6rem;
    background-color: #F66B0E;
    border: 1px solid #F66B0E;
    transition: .5s ease;

    &:hover{
        background-color: transparent;
        border: 1px solid #F66B0E;
        color: variables.$link-color;
    }
}

.btn-form{
    color: #fff;
    padding: 1.6rem 1.4rem;
    background-color: #F66B0E;
    border: 1px solid #F66B0E;
    transition: .5s ease;
    font-weight: 700;

    @include medias.small{
        font-size: 1.2rem;
    }

    &:hover{
        background-color: transparent;
        border: 1px solid #F66B0E;
        color: variables.$link-color;
    }
}