@use '../4-abstracts/variables';
@use '../4-abstracts/medias';

.about-text {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    @include medias.small {
        align-items: center;
    }

    @include medias.small-medium {
        align-items: center;
    }

    p {
        width: 40%;

        @include medias.small {
            width: 100%;
            text-align: center;
        }

        @include medias.small-medium {
            width: 90%;
            text-align: center;
        }

        @include medias.medium {
            width: 45%;
        }
    }
}

.about-content {
    padding-top: 8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include medias.small {
        padding: 4rem 4rem 0;
        flex-direction: column;
    }

    @include medias.small-medium {
        padding: 2rem 2rem 0;
        flex-direction: column;
    }
}

.about-content-mission {
    flex: 1 0 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    h3 {
        color: variables.$subtitle-color;
        font-size: 5.2rem;
    }

    h4 {
        color: #000;
        font-size: 1.8rem;
        padding-bottom: 1.2rem;
    }

    p {
        width: 80%;

        @include medias.small {
            width: 100%;
        }

        @include medias.small-medium {
            width: 100%;
            margin: 0 auto;
        }
    }
}

.about-content-img-desktop {
    flex: 1 0 50%;

    @include medias.small {
        display: none;
    }
    
    @include medias.small-medium {
        padding-top: 6rem;
    }
}

.about-content-img-mobile {
    display: none;

    @include medias.small {
        margin-top: 4rem;
        display: block;
        position: relative;
        height: 350px;
    }

    img{
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        transition: 1.5s ease;
        opacity: 0;
        object-fit: cover;
        text-align: center;
    }

    img.active-img-about{
        opacity: 1;
    }
}

.about-cards-group {
    display: flex;
    padding-bottom: 1.2rem;

    @include medias.small {
        text-align: center;
        flex-direction: column;
    }

    @include medias.small-medium {
        text-align: center;
        gap: 1.6rem;
    }
}

.about-img-all{
    display: flex;
    align-items: flex-end;
    gap: 3rem;
}

.about-img-groups {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.about-img-one{
    padding-bottom: 4rem;
}



