@use '../4-abstracts/variables';
@use '../4-abstracts/medias';

.customers{
    width: 100%;
    background-color: variables.$bg-color;
    color: #fff;
}

.customers-all{
    width: 90%;
    margin: 0 auto;
}

.customers-title h2{
    color: #ffffff;
    font-size: 4.2rem;
    padding-bottom: 6rem;

    @include medias.small{
        font-size: 2.8rem;
    }
}

.customers-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include medias.small{
        align-items: center;
    }
}

.customers-img{
    flex: 1 0 45%;

    @include medias.small{
        flex: 1 0 100%;
    }

    img{
        @include medias.small{
            width: 25rem;
            margin: 0 auto;
        }
    }
}

.customers-comment{
    flex: 1 0 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.4rem;
}

.custom-desktop{
    @include medias.small{
        display: none;
        border: 1px solid red;
    }
}

.custom-mobile{
    display: none;

    @include medias.small{
        display: block;
        flex: 1 0 55%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2.4rem;
        position: relative;
    }
}

.custom-text-all{
    height: 26rem;
}

.comment-text{
    width: 80%;

    @include medias.small{
        width: 100%;
    }
}

.comment-text-mobile{

    @include medias.small{
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        opacity: 0;
    }
}

h3.comment-author-title{
    color: #ffffff;
    font-size: 3.6rem;

    @include medias.small{
        font-size: 2.4rem;
    }
}

p.comment-author-text{
    line-height: 1.8;
    width: 100%;
    padding: 2.4rem 0;
    font-weight: 400;
    color: #b7c0c5;

    @include medias.small{
        font-size: 1.4rem;
    }
}


.comment-author{
    display: flex;
    flex-direction: column;
    gap: .6rem;

    .author-name{
        color: variables.$subtitle-color;
    }

    .author-work{
        font-size: 1.4rem;
        font-weight: 400;
        color: #b7c0c5;
    }
}


.customers-arrow{
    padding-top: 3.2rem;
    display: flex;
    align-self: flex-end;
    gap: .4rem;

        img{
            cursor: pointer;
            padding: .5rem .1rem;
        }
}

/* Classe para o slide */

.comment-active{
    opacity: 1;
    display: block;
    transition: 3s ease;
}

