@use '../4-abstracts/variables';
@use '../4-abstracts/medias';

footer{
    width: 100%;
    padding: 5.2rem 0 3rem;

    @include medias.small{
        padding-top: 3.2rem;
    }
}

.footer-all{
    width: 90%;
    margin: 0 auto;
}

.footer-align{
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.footer-links{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include medias.small{
        gap: 3.6rem;
        flex-direction: column;
        font-size: 1.4rem;
    }
}

.footer-link-item{
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

a.link-item{
    color: #112B3C;
    font-weight: 400;
    padding: .4rem;

    &:hover{
        text-decoration: underline;
    }
}

.footer-title{
    color: #112B3C;
    font-weight: 800;
    font-size: 1.6rem;
}

.footer-adress{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .6rem;
}

.footer-title-copy{
    text-align: center;

    strong{
        color: #112B3C;
        font-weight: 600;
        font-size: 1.4rem;
    }
}