@use '../4-abstracts/variables';


.contact-all{
    padding-top: 1.8rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-img{
    flex: 1 0 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.contact-img-groups{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.contact-one{
    padding-top: 6rem;
}

.contact-two{
    height: 100%;
}

.contact-title{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    padding-bottom: 3.2rem;

        p{
            color: #828282;
            
        }

        strong{
            font-weight: 400;
        }
}

.contact-form{
    flex: 1 0 50%;
}

.contact-form-all{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact-form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    height: 100%;
}

/* Textarea and inputs */
#messageClient{
    resize: none;
    padding: 1.2rem;
    border: 1px solid #112B3C;
    font-size: 1.6rem;
    color:#696969;
}

#messageClient::placeholder{
    color:#BDBDBD;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.6rem;
    transition: .5s ease;
}

#messageClient:focus::placeholder{
    opacity: 0;
}

.contact-field{
    display: flex;
    gap: 3rem;
}

.field input{
    color:#696969;
    font-size: 1.4rem;
    padding: 1.6rem 1.2rem;
    border: 1px solid rgb(17, 43, 60);
}

.field input::placeholder{
    color: rgb(189, 189, 189);
    transition: .5s ease;
}

.field input:focus::placeholder{
    color: rgb(189, 189, 189);
    opacity: 0;
}

