@use '../4-abstracts/variables';
@use '../4-abstracts/medias';

nav.nav-desktop{
    @include medias.small{
        display: none;
    }

    @include medias.small-medium{
        display: none;
    }

    @include medias.medium{
        display: none;
    }
}

nav.nav-mobile{
    display: none;

    @include medias.small{
        padding: 1rem 1.4rem;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    
        .burguer{
            font-size: 2.4rem;
            padding: 1rem;
        }
    }

    @include medias.small-medium{
        padding: 1rem 1.4rem;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    
        .burguer{
            font-size: 2.4rem;
            padding: 1rem;
        }
    }

    @include medias.medium{
        padding: 1rem 1.4rem;
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    
        .burguer{
            font-size: 2.4rem;
            padding: 1rem;
        }
    }
}

.nav-links{
    width: 100%;
    height: 12%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-links-list{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.nav-links-list-mobile{
    background-color: #fff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: .5rem;
    z-index: 99;
    position: fixed;
    top: 0;
    bottom: 0;
    right: -100%;
    width: 80%;
    transition: .5s ease;
    font-size: 1.6rem;

    @include medias.small-medium{
        width: 60%;
    }

    @include medias.medium{
        width: 50%;
    }
}

.menu-active{
    right: 0;
}

.burguer-close{
    font-size: 4rem;
    padding: 1.6rem;
    position: absolute;
    top: 0rem;
    left: 3rem;
}

.nav-btns-mobile{
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    gap: 1.5rem;
}

.nav-link{
    color: variables.$link-color;
    padding: 1.2rem 1rem;
    transition: .5s ease;
    position: relative;

    &::before{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1px;
        width: 0px;
        background-color: #F66B0E;
        transition: .5s ease;
    }

    &:hover:before{
        width: 100%;
        background-color: #F66B0E;
    }
}

.nav-btns{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
