@use '../4-abstracts/variables';
@use '../4-abstracts/medias';

.products{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.products-btns{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;

    @include medias.small{
        overflow-y: auto;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 1rem 1.4rem;
    }

    @include medias.small-medium{
        overflow-y: auto;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 1rem 1.4rem;
    }
}

/* Scroll, decidi tirar ele para melhor visualização */

.products-btns::-webkit-scrollbar {
    width: 0;               /* width of the entire scrollbar */
  }
  
  .products-btns::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
  }
  
  .products-btns::-webkit-scrollbar-thumb {
    background-color: transparent;    /* color of the scroll thumb */
    border-radius: 0;       /* roundness of the scroll thumb */
    border: none;  /* creates padding around scroll thumb */
  }

  /* Scroll */

.products-btns input{
    border: none;
    background-color: transparent;
    font-size: 1.6rem;
    color: variables.$text-color;
    cursor: pointer;
    padding: 1rem .5rem;
}
/* Classe criada para especifica a seção. MAnipular via JS */

.products-btns .btn-product-active{
    color: #F66B0E;
    font-weight: 600;
}

.products-group-all{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: .5rem;
    height: 75rem;
}

.products-group{
    position: absolute;
    inset: 0;
    visibility: hidden;
    opacity: 0;
}

.products-group-active{
    visibility: visible;
    opacity: 1;
}

.products-group-item{
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    padding: 1rem 0;
    
    @include medias.small{
        justify-content: flex-start;
        align-items: flex-start;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
    }

    @include medias.small-medium{
        justify-content: flex-start;
        align-items: flex-start;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
    }
}

/* Scroll, decidi tirar para melhor visualização */

.products-group-item::-webkit-scrollbar {
    width: 0;               /* width of the entire scrollbar */
  }
  
  .products-group-item::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
  }
  
  .products-group-item::-webkit-scrollbar-thumb {
    background-color: transparent;    /* color of the scroll thumb */
    border-radius: 0;       /* roundness of the scroll thumb */
    border: none;  /* creates padding around scroll thumb */
  }

/* Scroll */

.product-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 0 25%;
    background-color: #FFF8F0;
    padding-bottom: 1rem;

    @include medias.small{
        flex: none;
        width: 32rem;
        height: 35rem;
        gap: 1.5rem;
        scroll-snap-align: start;
        scroll-padding-left: 2rem;
    }

    @include medias.small-medium{
        flex: none;
        width: 32rem;
        height: 35rem;
        gap: 1.5rem;
        scroll-snap-align: start;
        scroll-padding-left: 2rem;
    }
}

.product-img{
    align-self: center;
    padding: .5rem 0;
}

.product-item-infor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .8rem 2rem;

    @include medias.small{
        padding: .8rem 2.4rem;
    }

    @include medias.small-medium{
        padding: .8rem 2.4rem;
    }
}

.product-item-text{
    display: flex;
    flex-direction: column;
    gap: .2rem;

    h4{
        font-size: 2rem;
    }

    p strong{
        font-size: 1.4rem;
        color: variables.$title-color;
        font-weight: 400;
    }
}

.product-item-link{
    cursor: pointer;
}

