
@use '../4-abstracts/variables';

section{
    width: 90%;
    margin: 0 auto;
    padding: 5.2rem 0;
}

/* About */

.about-text{
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    p{
        width: 40%;
    }
}

.about-content{
    padding-top: 8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-content-mission{
    flex: 1 0 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    h3{
        color: variables.$subtitle-color;
        font-size: 5.2rem;
    }

    h4{
        color: #000;
        font-size: 1.8rem;
        padding-bottom: 1.2rem;
    }

    p{
        width: 80%;
    }
}

.about-content-img{
    flex: 1 0 50%;
}

.about-cards-group{
    display: flex;
}

.about-content-img{
    display: flex;
    gap: 3.6rem;
}

.about-img-groups{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.img-group-two{
    margin-top: -8rem;
}




