@use '../4-abstracts/variables';
@use '../4-abstracts/medias';

h1, h2, h3, h4, h5, h6{
    color: variables.$title-color;
}

.text-color{
    color: variables.$text-color;
}

.title-section{
    font-size: 4.2rem;

    @include medias.small{
        font-size: 2.8rem;
    }

    @include medias.small-medium{
        font-size: 2.8rem;
    }
}

.subtitle-section{
    font-size: 2rem;

    @include medias.small{
        font-size: 1.6rem;
    }

    @include medias.small-medium{
        font-size: 1.6rem;
    }
}

.secondary-text{
    color: variables.$secondary-color;
}

.line-spacing{
    line-height: 2.4rem;
}