@use '../4-abstracts/variables';

h1, h2, h3, h4, h5, h6{
    color: variables.$title-color;
}

.text-color{
    color: variables.$text-color;
}

.title-section{
    font-size: 4.2rem;
}

.subtitle-section{
    font-size: 2rem;
}

.secondary-text{
    color: variables.$secondary-color;
}

.line-spacing{
    line-height: 2.4rem;
}